{#{ dump(vars) }#}
<div>
	<a id="" class="add_button" href="/add_new">Add New</a>
</div>

<div class="form_list">
	<table>
		<tr>
			<th>IDENTIFICADOR</th>
			<th>NOMBRE</th>
			<th></th>
		</tr>
		{% for var in vars.listado %}
			<tr>
				<td>{{ var.id }}</td>
				<td>{{ var.nombre }} {{ var.apellido }}</td>
				<td></td>
			</tr>
		{% endfor %}
	</table>
</div>

{% for page in vars.pages %}
	<a href='/?page={{page}}'>{{page}}</a>
{% endfor %}
