{#{ dump(_context|keys) }#}


<table style="width:100%">
	<tr style="background-color:#4CAF50">
		<th>Nombre y Apellido</th>
		<th>Dni</th>
		<th>Email</th>
		<th>Operators</th>

	</tr>
	{% for array in variables %}
		<tr>
			<td>{{ array.nombre }} {{ array.apellido }}</td>
			<td>{{ array.dni}}</td>
			<td>{{ array.email}}</td>
			<td>
				<a href="/afip_form/view?id={{ array.id }}" type="button" value="Botón" name="view_more">View More</a>
				<a href="/afip_form/delete?id={{ array.id }}" type="button" value="Botón" name="delete">Delete</a>
			    <a href="/afip_form/edit?id={{ array.id }}" type="button" value="Botón" name="edit">Edit</a>
			</td>
		</tr>

	{% endfor %}
</table>
