<p class="noenvolver">
	<div id="t01">
		{% for array in variables %}
			<li>NOMBRE: {{ array.nombre }}</li>
			<li>APELLIDO: {{ array.apellido }}</li>
			<li>NACIMIENTO: {{ array.nacimiento }}</li>
			<li>DNI: {{ array.dni}}</li>
			<li>CUIT: {{ array.cuit}}</li>
			
			{% if array.estado_civil == 0 %}
				<li>ESTADO CIVIL: {{'soltero'}}</li>
			{% else %}
				<li>ESTADO CIVIL: {{'casado'}}</li>
			{% endif %}

			<li>HIJOS: {{ array.hijos}}</li>
			{% if array.genero == 1 %}
				<li>GENERO: {{'masculino'}}</li>
			{% else %}
				<li>GENERO: {{'femenino'}}</li>
			{% endif %}
			<li>PAIS: {{ array.pais}}</li>
			<li>PROVINCIA: {{ array.provincia}}</li>
			<li>LOCALIDAD: {{ array.localidad}}</li>
			<li>CALLE: {{ array.calle}}</li>
			<li>NUMERO: {{ array.numero}}</li>
			<li>PISO: {{ array.piso}}</li>
			<li>CODIGO POSTAL: {{ array.codigo_postal}}</li>
			<li>E-MAIL: {{ array.email}}</li>
			<li>TELEFONO CELULAR: {{ array.telefono_celular}}</li>
			<li>TELEFONO FIJO: {{ array.telefono_fijo}}</li>

		{% endfor %}
	</div>
</p>
