{% for array in array_vars.form_edit %}
	<form action="/afip_form/save_edit?id={{ array.id }}" method="POST">
		<fieldset>
			<legend>Informacion Personal:</legend>
			<label for="nombre">Nombre:</label>
			<input type="text" id="nombre" name="nombre" value="{{ array.nombre }}">
			<label for="apellido">Apellido:</label>
			<input type="text" id="apellido" name="apellido" value="{{ array.apellido }}">
			<label for="nacimiento">Fecha de nacimiento:</label>
			<input type="date" id="nacimiento" name="nacimiento" value="{{ array.nacimiento }}">
			<label for="dni">DNI:</label>
			<input type="number" id="dni" name="dni" value="{{ array.dni}}">
			<label for="cuit">CUIT:</label>
			<input type="number" id="cuit" name="cuit" value="{{ array.cuit}}">
			<label for="estado civil">Estado Civil:</label>
			{% if array.estado_civil == '0' %}
				<label for="soltero"><input type="radio" id="soltero" name="estado_civil" value="soltero" checked>
					Soltero</label><br>
				<label for="casado"><input type="radio" id="casado" name="estado_civil" value="casado">
					Casado</label><br>
			{% else %}
				<label for="soltero"><input type="radio" id="soltero" name="estado_civil" value="soltero">
					Soltero</label><br>
				<label for="casado"><input type="radio" id="casado" name="estado_civil" value="casado" checked>
					Casado</label><br>
			{% endif %}
			<label for="hijos">Hijos:</label>
			<input type="number" id="hijos" name="hijos" value="{{ array.hijos}}">
		</fieldset>
		<fieldset>
			<legend>Genero:</legend>
			{% if array.genero == '0' %}
				<label for="male"><input class="radio_gender" type="radio" id="male" name="genero" value="male" checked>
					Masculino</label>
				<label for="female"><input type="radio" id="female" name="genero" value="female">
					Femenino</label>
				<label for="other"><input type="radio" id="other" name="genero" value="other">
					Otro</label>
			{% elseif array.genero == '1'%}
				<label for="male"><input class="radio_gender" type="radio" id="male" name="genero" value="male">
					Masculino</label>
				<label for="female"><input type="radio" id="female" name="genero" value="female" checked>
					Femenino</label>
				<label for="other"><input type="radio" id="other" name="genero" value="other">
					Otro</label>
			{% else %}
				<label for="male"><input class="radio_gender" type="radio" id="male" name="genero" value="male">
					Masculino</label>
				<label for="female"><input type="radio" id="female" name="genero" value="female">
					Femenino</label>
				<label for="other"><input type="radio" id="other" name="genero" value="other" checked>
					Otro</label>
			{% endif %}
			<div id="especificar">
				<label for="otro_genero">Especifique cual:</label>
				<input type="text" id="otro_genero" name="otro_genero" value="">
			</div>
		</fieldset>
		<fieldset>
			<legend>Direccion:</legend>
			<div id="dropdown">
				<label for="pais">Pais:</label>
				<select id="pais" name="pais" value="{{ array.pais}}" selected></select>
			</div>
			<div>
				<label for="provincia">Provincia:</label>
				<select id="provincia" name="provincia" value="{{ array.provincia}}" selected></select>
			</div>

			<label for="localidad">Localidad:</label>
			<input type="text" id="localidad" name="localidad" value="{{ array.localidad}}">
			<label for="calle">Calle:</label>
			<input type="text" id="calle" name="calle" value="{{ array.calle}}">
			<label for="numero">Numero:</label>
			<input type="number" id="numero" name="numero" value="{{ array.numero}}">
			<label for="piso">Piso:</label>
			<input type="number" id="piso" name="piso" value="{{ array.piso}}">
			<label for="codigo postal">Codigo Postal:</label>
			<input type="number" id="codigo_postal" name="codigo_postal" value="{{ array.codigo_postal}}">
		</fieldset>
		<fieldset>
			<legend>Datos de contacto:</legend>
			<label for="email">E-mail:</label>
			<input type="email" id="email" name="email" value="{{ array.email}}">
			<label for="telefono celular">Telefono celular:</label>
			<input type="number" id="telefono_celular" name="telefono_celular" value="{{ array.telefono_celular}}">
			<label for="telefono fijo">Telefono fijo:</label>
			<input type="number" id="telefono_fijo" name="telefono_fijo" value="{{ array.telefono_fijo}}">
		</fieldset>
		<fieldset>
			<fieldset>
				<label for="user">Usuario:</label>
				<input type="text" id="user" name="user" value="">
				<label for="password">Contrase単a:</label>
				<input type="password" id="password" name="password">
			</fieldset>
			<fieldset>
				<label for="not1"><input type="checkbox" id="not1" name="recibir_notificaciones">
					多Desea recibir notificaciones?:</label><br>
				<label for="not2"><input type="checkbox" id="not2" name="term_cont">
					多Acepta los ternimos y condiciones?:</label><br>
			</fieldset>
			<fieldset>
				<label for="comentarios">多Desea realizar algun comentario?:</label>
				<textarea name="comentarios" rows="5" cols="40"></textarea>
			</fieldset>
			<input type="submit" value="Submit">
		</fieldset>
	</form>
{% endfor %}
<div style="display:none" id="pais_prov">
	{% for pais_prov in array_vars.pais_prov %}
		<li pais-id="{{pais_prov.pais_id}}" pais-name="{{pais_prov.pais_name}}" provincia-id="{{pais_prov.provincia_id}}" provincia-name="{{pais_prov.provincia_name}}">
	{% endfor %}
</div>

