{#{ dump(_context|keys) }#}


<table style="width:100%">
	<tr style="background-color:#4CAF50">
		<th>Nombre y Apellido</th>
		<th>Dni</th>
		<th>Email</th>

	</tr>
	{% for array in variables %}
		<tr>
			<td>{{ array.nombre }} {{ array.apellido }}</td>
			<td>{{ array.dni}}</td>
			<td>{{ array.email}}</td>
			<td>
				<a href="/afip_form/view?id={{ array.id }}" type="button" value="Botón" name="B4">View More</a>
			</td>
		</tr>

	{% endfor %}
</table>
